.page-header{

text-align:center;
padding:70px 0 50px;

}

.page-header h1{

font-size:52px;
color:#2563eb;
margin-bottom:10px;

}

.page-header p{

font-size:20px;
color:#64748b;

}

.story-card{

background:white;
padding:40px;
margin-bottom:40px;
border-radius:16px;
box-shadow:0 8px 20px rgba(0,0,0,.06);

}

.story-card h2{

color:#2563eb;
font-size:32px;
margin-bottom:20px;

}

.story-card p{

font-size:18px;
line-height:1.9;
text-align:justify;
margin-bottom:20px;

}
