/* ==========================
   Google Font
========================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;

    background:#f7f9fc;

    color:#333;

    line-height:1.8;

}

img{
    max-width:100%;
    display:block;
}

a{

    color:#2563eb;

    text-decoration:none;

}

a:hover{

    color:#1d4ed8;

}

ul{

    margin-left:25px;

}

li{

    margin-bottom:10px;

}
