body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: inline-block;
    text-align: center; /* Ensures content inside header-content is also centered */
}

section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

p {
    margin: 20px 0;
}


h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px; /* Space below section headers */
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px; /* Space below job titles */
}

ul.custom-bullets {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0; /* Remove default padding */
}

ul.custom-bullets li{
    position: relative;
    padding-left: 1.5em; /* Space for custom bullet */
    margin-bottom: 5px; /* Increases space between list items */
}

.custom-list ul li {
    position: relative;
    padding-left: 1.5em; /* Space for custom bullet */
    margin-bottom: 10px; /* Space between list items */
}


ul.custom-bullets li::before{
    content: '•'; /* Unicode for bullet character */
    font-size: 1.2em; /* Adjust size as needed */
    position: absolute;
    left: 0;
    top: 0;
}

ul.custom-bullets li::before {
    color: #007bff; /* Default color for bullets */
}


.experience {
    margin-bottom: 40px; /* Space below the experience section */
}
